* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #e2e2b6;
  color: black;
  padding-bottom: 50px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: #021526;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;

  justify-content: center;
}

.nav a {
  color: #1f316f;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}
.nav.active {
  background-color: #6482ad;
  box-shadow: 5px 3px #888888;
}

.nav.active a {
  color: red;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #a02334;
  font-weight: bold;
}
.hero {
  background-image: url(developer.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  color: whitesmoke;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2 {
  margin: 20px 0;
}

.content p {
  color: black;
  line-height: 30px;
  letter-spacing: 1.5px;
}

.logo a {
  color: whitesmoke;
}
